
*{
	font-family: 'Ubuntu', sans-serif;
}

body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.extra{
	top: 85vh;
	position: fixed;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 67em;
	z-index: 300;
}
.whatsapp{
	height: 60px;
	width: 60px;
	border-radius: 50px;
	background: #0B930E;
	margin-left: 25px;
	justify-content: center;
}
.whatsapp img{
	margin-left: 15px;
	margin-top: 15px;
	cursor: pointer;
}
.up{
	height: 40px;
	width: 40px;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.5);
	font-size: 20px;
	float: right;
	right: 70px;
	text-align: center;
	line-height: 40px;
}
.up a{
	text-decoration: none;
	color: lightgray;
}
.up:hover{
	background: #333333;
	cursor: pointer;
}
.wrap{
	font-family: sans-serif;
}
.nav{
	height: 130px;
	top: 0;
	right: 0;
	left: 0;
	display: grid;
	grid-template-columns: 40% 60%;
	background: rgba(46, 107, 176, 0.7);
	box-shadow: 0 10px 20px 0 #0B2C70;
	position: fixed;
	z-index: 200;
}
.logo{
	color: white;
 	line-height: 70px;
	margin-left: 30px;
}
.mm{
	margin-top: 30px; 
   display: none;
   align-items:center;
   justify-content:center; 
 }
 #obi{
	background: transparent; 
	font-size: 2.7rem;
   color: skyblue;
   margin-left: 27rem;
   outline: none;
   border: none;
 }
.nav .menu{
	margin-right: 22px;
}

.lost.active{
   position: fixed;
   width: 100%;
   display: flex;
   justify-content: center;
   color: #222;
   background: rgba(255, 255, 255, 0.5);
 }
.lost .nav-list a{
   margin: 5px;
   color: #fff;
}
.lost.active .nav-list{
   background: #fff;
   width: 600px;
   max-width: 600px;
   margin: 20px;
   padding: 40px;
   display: flex;
   flex-direction: column;
   align-items: center;
   height: auto;
 } 
.nav-list{
   list-style: none;
   display: flex;
   margin-right: auto;
   font-size: 16px;
   line-height: 70px;
}
.nav-link{
   position: relative;
   margin-left: 30px;
}

.nav-link::after{
   content: '';
   width: 100%;
   height: 2px;
   background-color: skyblue;
   position: absolute;
   left: 0;
   bottom: -3px;
   transform: scaleX(0);
   transform-origin: left;
   transition: transform .5s ease;
}
.nav-link:hover::after{
   transform: scaleX(1);
}
.nav-link a {
   color: #273F64;
   text-decoration: none;
}
.nav-link:hover{
   color: skyblue;
   border-bottom: 2px solid red;
}
.drop-down{
	width: 230px;
	height: 260px;
	background: white;
	padding: 3px;
	display: none;
	font-size: 13px;
	cursor: pointer;
	position: absolute;
	margin-top: 2px;
	text-align: center;
	z-index: 300;
}
.drop:hover .drop-down{
	display: block;
	color: black;
	border-bottom: none;
}
.dru{
	color: black;
}
.transparent{
	min-height: 63.48rem;
	width: 100%;
	position: absolute;
	background: rgba(46, 107, 176, 0.9);
}
.slide{
	width: 100%;
	box-sizing: border-box;
}
.slide img{
	height: 100%;
	width: 100%;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.ContactUs{
	display: grid;
	grid-template-columns: 60% 40%;
	margin-top: 180px;
	padding-left: 70px;
	padding-right: 50px;
	color: white;
}
.ContactUs h1{
	font-size: 60px;
	font-family: Adobe Garamond Pro Bold;
}
.ContactUs address{
	font-size: 16px;
	font-family: Arial;
	line-height: 27px;
}
.contact section{
	height: 150px;
	width: 350px;
	background: lightgray;
}
.emo{
	display: flex;
	margin-top: 60px;
}
.emo img{
	height: 25px;
	width: 25px;
	margin-left: 20px;
}
.contac{
	border-left: 3px solid lightgray;
	background: rgba(46, 107, 176, 0.6);
	padding-left: 25px;
}
.contac p{
	margin-top: 4rem;
	font-size: 20px;
}
.contac input{
	height: 40px;
	width: 330px;
	border-radius: 2px;
	padding-left: 15px;
	border: none;
	outline: none;
}
.contac input[placeholder]{
	font-size: 15px;
}
.contac textarea{
	height: 120px;
	width: 330px;
	outline: none;
	color: gray;
	padding: 10px;
	margin-bottom: 50px;
}
.contac button{
	border: none;
	border-radius: 5px;
	padding: 10px;
	height: 40px;
	width: 250px;
	background: red;
	color: white;
	font-size: 15px;
	font-family: Arial Unicode MS;
	margin-left: 45px;
}
.clear{
	height: 13rem;
	background: rgba(46, 107, 176, 0.9);
}
.foot{
	height: 270px;
	width: 100%;
	background: #004A98;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding-top: 3rem;
	color: #fff;
	font: 15px 'Arial Narrow', Arial, sans-serif;
}
.foot-babe{
	margin-left: 5rem;
	line-height: 20px;
}
.foot-babe button{
	padding: 10px;
	background-color: transparent;
	color: salmon;
	font-size: 12px;
	outline: none;
	border: 1px solid rgb(32, 35, 38);
	border-radius: 2px;
}
.foot-babe button:hover{
	background-color: rgb(32, 35, 38);
}
.foot-baby ul{
	list-style-type: circle;
	line-height: 25px;
	cursor: pointer;
}
.foot-baby li:hover{
	margin-left: 15px;
}
.foot-bab{
	padding-right: 5rem;
	line-height: 20px;
}
.footer{
	height: 40px;
	width: 100%;
	padding-top: 18px;
	background-color: rgb(0, 33, 73);
}
.left{
	color: #fff;
	font-size: 12px;
	margin-left: 90px;
}
.right{
	float: right;
	font-size: 12px;
	margin-right: 90px;
	cursor: pointer;
}
.right a{
	text-decoration: none;
	color: salmon;
}
.right a:hover{
	color: #fff;
}