
*{
	font-family: 'Ubuntu', sans-serif;
}
body{
	margin: 0;
	padding: 0;
}

.extra{
	top: 85vh;
	position: fixed;
	z-index: 300;
}

.whatsapp{
	height: 60px;
	width: 60px;
	border-radius: 50px;
	background: #0B930E;
	margin-left: 75rem;
}


.whatsapp img{
	margin-left: 15px;
	margin-top: 15px;
	cursor: pointer;
}

.wrap{
	width: 98.4vw;
}


.nav{
	height: 90px;
	display: grid;
	grid-template-columns: 40% 60%;
	background: white;
}

.logo{
	color: skyblue;
 	line-height: 70px;
	padding-left: 20px;
}
.search{
    margin-top: 1.5rem;
    margin-left: 13rem;
}
select{
	padding: 3px;
    margin-left: 0;
    height: 35px;
    width: 50px;
    outline: none;
    background-color: gray;
    border: none;
}
input{
    margin-left: 0;
    height: 35px;
    width: 25rem;
    outline: none;
    background-color: lightgray;
    border: none;
}
.sub{
	height: 105px;
	background: rgb(234, 234, 234);
	line-height: 105px;
	padding-left: 5rem;
	font-size: 30px;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.dev{
	min-height: 60em;
	margin-top: 5rem;
	display: grid;
	grid-template-columns: 33% 65%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.one-third{
	margin-left: 5.5em;
	box-sizing: border-box;
}
.img{
	min-height: 750px;
	position: relative;
	margin-left: 0;
	overflow: hidden;
	
}
.img img{
	height: 310px;
	width: 100%;
	animation-name: example;
    animation-duration: 1s;
	transition: 1s ease;
}
img:hover {
	animation-timing-function: ease;
	width: 114%;
	height: 370px;
}
@keyframes example {
    0%   {width: 0;}
    100%  {width: 100%;}
}
.desc{
	padding: 1em;
	background-color: whitesmoke;
	font-size: 12px;
	color: gray;
	line-height: 1.8em;
}
.desc button{
	height: 40px;
	width: 330px;
	background-color: lightgray;
	color: gray;
	border: none;
	outline: none;
	border-bottom: 2px solid  gray;
	border-radius: 4px;
	margin-bottom: 20px;
	cursor: pointer;
}
.desc button:hover{
	background-color:rgb(88, 87, 87);
	border-bottom: 3px solid  rgb(43, 42, 42);
	color: #fff;
}
.desc input{
	height: 65px;
	width: 330px;
	color: #fff;
	background-color: rgb(0, 122, 204);
	border-bottom: 2px solid  rgb(5, 65, 105);
	border-radius: 4px;
}
.desc input:hover{
	background-color: rgb(5, 65, 105);
	border-bottom: 3px solid  rgb(0, 122, 204);
}
.two-third{
	margin-right: 5em;
	padding: 2em;
}
.two-third .child{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 5rem;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	padding-top: 3rem;
	padding-bottom: 3rem;
	font-size: 12px;
}
.two-third .child #child a{
	color: rgb(14, 170, 231);
	text-decoration: none;
	font-size: 11px;
}
.two-third .child #child2 a{
	color: #000;
	text-decoration: none;
}
.two-third .child #child2 a:hover{
	color: skyblue;
}
.two-third .child2{
	line-height: 2em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 17px;
	text-align: left;
}
.two-third .child2 h3{
	color: #033253;
}
#panel, #flip, #panel1, #flip1, #panel2, #flip2, #open, #close, #open1,
 #close1, #open2, #close2, #open3, #close3, #open4, #close4,
  #open5, #close5, #open6, #close6, #open7, #close7, #open8, 
  #close8, #open9, #close9, #open10, #close10, #open11, #close11,
  #open12, #close12, #open13, #close13, #open14, #close14, #open15, 
  #close15, #open16, #close16, #open17, #close17,
   #open18, #close18, #open19, #close19, #open20,
    #close20, #open21, #close21, #open22, #close22{
    padding: 1rem;
    border: solid 1px #c3c3c3;
	cursor: pointer;
}

#flip, #flip1, #flip2, #open, #open1, #open2, #open3, #open4, #open5,
 #open6, #open7, #open8, #open9, #open10, #open11, #open12,#open13,#open14,#open15,
 #open16,#open17,#open18,#open19,#open20,#open21,#open22 {
	color: rgb(0, 122, 204);
}
#panel1, #panel2, #close1, #close2, #close3, #close4, #close5, #close6, #close7,
#close8, #close9, #close10, #close11,#close12,#close13,#close14,#close15,#close16,#close17,
#close18,#close19,#close20,#close21,#close22{
    display: none;
}

.two-third .child2 input{
	height: 65px;
	width: 100%;
	color: #fff;
	background-color: rgb(0, 122, 204);
	margin-bottom: 5em;
	border-bottom: 2px solid  rgb(5, 65, 105);
	border-radius: 4px;
}
.two-third .child2 input:hover{
	background-color: rgb(5, 65, 105);
	border-bottom: 3px solid  rgb(0, 122, 204);
}
.two-third .child2 table.mum{
	width: 100%;
	padding: 1rem;
	border-collapse: collapse;
	margin-bottom: 10em;
	padding: 2rem;
}
.two-third .child2 table.mum th{
	padding: 1.2rem;
	background-color: rgb(234, 234, 234);
}
.two-third .child2 table.mum td{
	background-color: rgb(246, 246, 246);
	border: none;
	padding: 1.2rem;
}
.two-third .child2 table.mum td a{
	text-decoration: none;
}
.two-third .child2 table.mum td a:hover{
	color: skyblue;
}
.two-third .child2 .mum td img{
	height: 100px;
	width: 120px;
}
.two-third .child2 .mum td img:hover{
	opacity: .5;
}
.meno {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1em;
	font-size: 15px;
  }
.menus {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
  }
  .menu-column h4 {
	text-transform: capitalize;
	color: #174E75;
	font-size: 22px;
	font-weight: 500;
	margin-bottom: 20px;
	position: relative;
	padding-bottom: 10px;
  }
  .menu-column h4:before {
	content: "";
	position: absolute;
	width: 40px;
	height: 2px;
	background-color: #00875c;
	bottom: 0;
  }
  .single-menu {
	display: flex;
	align-items: center;
  }
  .single-menu img {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	border: 1px dashed #ddd;
	padding: 3px;
	margin-right: 15px;
	transition: .3s;
  }
  .single-menu:hover img{
	  transform: rotate(360deg);
  }
  .single-menu .menu-content h5 {
	text-transform: capitalize;
	font-size: 17px;
	font-weight: 500;
	padding-bottom: 5px;
	margin-bottom: 15px;
  }
  
.down{
	height: 300px;
	background-color: #174E75;
	padding-top: 3rem;
	padding-left: 3rem;
	padding-right: 3rem;
	color: #eee;
}
.down h2{
	text-align: center;
}
.down table{
	border-spacing: 10px
}
.down td{
	border: 1px solid #fff;
	padding: 15px;
	font-size: small;
	line-height: 19px;
}
.down td h3{
	font-size: 18px;
}
footer{
	display: flex;
	background-color: #000;
	color: #fff;
	font-size: small;
	height: 80px;
	line-height: 80px;
	padding-left: 40px;
}
footer .media-icons{
	z-index: 888;
	position: absolute;
	right: 30px;
	display: flex;
	flex-direction: row;
	margin-right: 25em;
	transition: 0.5s ease;
  }
  
  footer .media-icons a{
	color: #fff;
	font-size: 1.4em;
	transition: 0.3s ease;
	margin-right: 2em;
}
  
  footer .media-icons a:hover{
	transform: scale(1.3);
	color: lightsalmon;
}